/* main.css */

/*
Copyright (c) 2008 wayne a. lee
Copyright (c) 2012 Zhiya Zang

This demo is modified by Zhiya Zang.

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
*/

body {
    padding: 0;
    margin: 0;
}


/* the controller listens to the touch events */
#controller {
	clear:both;
    position: absolute;
    z-index: 100;
    width: 320px;
    height: 320px;
    top: 0;
    left: 0;
    background:rgba(255,255,255,0.2); filter:alpha(opacity=20); 
}

/* the 3-D view */
#container {
	clear:both;
    width: 320px;
    height: 320px;
    overflow: hidden;
    -webkit-perspective: 200;
    -moz-perspective: 200;
    -o-perspective: 200;
    perspective: 200;


    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
    z-index:30;
}

/* a coord system for grouping all sides together */
#cube {
    width: 320px;
    height: 320px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;


    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px); 
    -o-transform: translateZ(200px); 
    transform: translateZ(200px);    /* this puts the box's centre right on top of the camera */
   /* this puts the box's centre right on top of the camera */
}

#container img {
    display: block;
}


/* cube side */
.side {
    position: absolute;
    left: 18px; /* 18px centres a 283-pixel-wide image in a 320-pixel-wide container */
    top: 18px;  /* 18px vertically centres the 283-pixel-tall image in a 320-pixel-tall container */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* initial cube setup */
#side1 {
    -webkit-transform: translateZ(-141px);
    -moz-transform: translateZ(-141px);
    -o-transform: translateZ(-141px);
    transform: translateZ(-141px);
}

#side2 {
    -webkit-transform: rotateY(-90deg) translateZ(-141px);
    -moz-transform: rotateY(-90deg) translateZ(-141px);
    -o-transform: rotateY(-90deg) translateZ(-141px);
    transform: rotateY(-90deg) translateZ(-141px);
}

#side3 {
    -webkit-transform: rotateY(180deg) translateZ(-141px);
    -moz-transform: rotateY(180deg) translateZ(-141px);
    -o-transform: rotateY(180deg) translateZ(-141px);
    transform: rotateY(180deg) translateZ(-141px);
}

#side4 {
    -webkit-transform: rotateY(90deg) translateZ(-141px);
    -moz-transform: rotateY(90deg) translateZ(-141px);
    -o-transform: rotateY(90deg) translateZ(-141px);
    transform: rotateY(90deg) translateZ(-141px);
}

#side5 {
    -webkit-transform: rotateX(-90deg) translateZ(-141px);
    -moz-transform: rotateX(-90deg) translateZ(-141px);
    -o-transform: rotateX(-90deg) translateZ(-141px);
    transform: rotateX(-90deg) translateZ(-141px);
}

#side6 {
    -webkit-transform: rotateX(90deg) translateZ(-141px);
    -moz-transform: rotateX(90deg) translateZ(-141px);
    -o-transform: rotateX(90deg) translateZ(-141px);
    transform: rotateX(90deg) translateZ(-141px);
}

#loading {
    position: absolute;
    z-index: 10;
    width: 200px;
    top: 80px;
    left: 40px;
    background: black;
    color: white;
    text-align: center;
    font: bold 24px Helvetica;
    padding: 20px;
    -webkit-border-radius: 8px;
    opacity: 0.7;
}

.warning {
    padding: 1em;
    border: dashed 8px red;
    background: #f88;
    color: black;
    text-align: center;
    font: bold 18px sans-serif;
    position: fixed;
    width: 90%;
    z-index: 20;
}
